.video-stream-1 {
  border-radius: 8px;
  position: fixed;
  z-index: 10;
  bottom: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 150px;
  box-shadow: 0px 0px 25px #ffffff4c;
  transform: none;
}
.video-grid {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.video-stream-2 {
  margin: auto;
  width: 100%;
  border-radius: 4px;
  height: auto;
  max-height: 80vh;
  object-fit: contain;
}
.room-input input {
  margin: 1em;
  padding: 1em;
  border-radius: 4px;
}
.room-input button {
  padding: 1em;
  background-color: rgb(60, 60, 60);
  color: white;
  border: none;
}
.conf-control-buttons-container {
  position: fixed;
  bottom: 0;
  margin: 10px;
}

.font-icon {
  font-size: 24px;
}
.conf-control-buttons button {
  min-width: 80px;
  padding: 1em;
  z-index: 10;
}
.video-tile-container {
  background-color: #000000;
  position: relative;
  display: flex;
  justify-content: center;
}
.peer-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  color: #ffffff;
  padding: 10px;
  background-color: #0000002d;
}
.chat-window {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  padding: 1em;
  background-color: #000000f0;
  color: #fcfcfc;
  z-index: 50;
}
.chat-window h2 {
  margin-left: 16px;
}
.chat-hidden {
  display: none;
}
.chat-messages {
  padding: 15px;
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}
.chat-messages .message {
  margin-right: 50px;
  margin-left: 0;
}
.chat-messages .my-message {
  margin-left: 50px;
  margin-right: 0;
}
.chat-messages .meta {
  font-size: 15px;
  font-weight: bold;
  color: #fcfcfc;
  opacity: 0.7;
  margin-bottom: 7px;
}
.chat-messages .message .meta span {
  color: #bcbcbc;
  float: right;
  font-weight: lighter;
  font-style: italic;
}

.chat-messages .message {
  border-radius: 16px !important;
  padding: 8px;
  margin-bottom: 7px;
  background-color: rgb(30, 80, 30);
  border-radius: 5px;
  overflow-wrap: break-word;
}
.chat-messages .my-message {
  border-bottom-right-radius: 0px !important;
  background-color: rgb(18, 26, 18);
}

.chat-messages .peer-message {
  border-top-left-radius: 0px !important;
}

.chat-form-container {
  padding: 21px 7px;
  background-color: var(--dark-color-a);
  bottom: 0;
  position: fixed;
  width: 470px;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 10px;
  height: 60px;
  width: 100%;
  flex: 1;
  outline: none !important;
  border-radius: 24px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.chat-form-container button {
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 24px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.reaction-window {
  position: absolute;
  left: auto;
  right: auto;
  bottom: 60px;
  width: 100%;
  padding: 1em;
  z-index: 50;
}
.reaction-hidden {
  display: none;
}
@media screen and (max-width: 786px) {
  .video-stream-1 {
    background-color: #000000e0;
  }
  .chat-window {
    width: 100%;
    height: calc(100% - 59px);
  }
  .chat-form-container {
    position: absolute;
    width: calc(100% - 30px);
  }
  .conf-control-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .conf-control-buttons {
    display: flex;
    overflow: auto;
    align-items: center;
    width: 100%;
  }
  .conf-control-buttons button {
    width: 100%;
  }
  .video-stream-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    left: auto;
    right: auto;
    bottom: 60px;
  }
  .video-grid {
    padding: 0px;
    overflow: auto;
    max-height: calc(100vh - 60px);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
  .peer-name {
    padding: 0px 4px;
  }
}
